/* font family added */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

.nav-section-title {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 60px;
}

.nav-section-title h2 {
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}

.btn-primary {
    padding: 17px 24px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgba(226, 135, 93, 0.767);

}

/* banner-container start here */
.banner-container {
    width: 100%;
    height: 650px;
    margin: 0 auto;
    background-image: url("../assets/Hero-bg.png");
    margin-bottom: 70px;

}

.banner-content {
    width: 1000px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 45px;

}

.banner-content h2 {
    font-size: 48px;
    font-weight: 800;
    margin-top: 25px;
}

.banner-content p {
    font-size: 16px;
    color: #0D1321;
    margin: 30px 0 30px 0;
}

/* web development section start here */
.Web-Development-container {
    width: 85%;
    height: 1350px;
    margin: 0 auto;
}

.development-section {
    width: 90%;
    height: 1220px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 10px;
}

.development-title {
    height: 130px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.development-title h1 {
    font-size: 32px;
    font-weight: 800;
}

.development-title p {
    font-size: 16px;
    margin-top: 15px;
}

.card-section {
    height: 300px;
    width: 85%;
    border: 1px solid rgb(26, 25, 25);
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

}

.content-text {
    width: 55%;
    padding: 25px 25px;
}

.content-text h2 {
    font-size: 24px;
    font-weight: 800;

}

.content-text p {
    font-size: 16px;
    color: #0D1321;
    margin: 35px 0px;
    font-weight: bold;
}

.img {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    width: 30%;
}

/* My Inspiration section start here */
.inspiration-section {
    height: 800px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.inspiration-section-title {
    height: 150px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.inspiration-section-title h2 {
    font-size: 32px;
    font-weight: 800;
}

.inspiration-section-title p {
    font-size: 16px;
    margin-top: 10px;
}

.content-vedio {
    height: 560px;
    width: 1350px;
    border: 2px solid #0D1321;
    margin: 0 auto;
    border-radius: 10px;
}

.vedio {
    height: 500px;
    width: 1300px;
    margin: 0 auto;
    margin-top: 22px;
}

/* My Current Target section start here */
.target-container-section {
    height: 460px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.target-contant {
    height: 120px;
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

.target-contant h1 {
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 20px;
}

.target-contant p {
    font-size: 16px;
}

.target-card-section {
    height: 320px;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    border: 2px solid rgba(255, 76, 30, 0.05);
    gap: 20px;
}

.target-card-contant {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    margin-top: 33px;
}

.target-card-contant {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}

.target-card-contant p {
    margin: 13px 0px;
}

.target-card-contant h3 {
    margin-top: 7px;
    font-size: 24px;
    font-weight: 800;
}

.card-head {
    display: flex;
}

/* footer section start here */

.support-section-container {
    height: 320px;
    width: 78%;
    margin: 0 auto;
    background-image: url("../assets/handshake.jpg");
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    margin-bottom: 50px;
    background-blend-mode: overlay;
}

.support-section-title {
    height: 105px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.form-section {
    display: flex;
    margin: 50px 400px 20px 400px;
    gap: 15px;
}

.support-section-title h2 {
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px ;
}

.support-section-title p {
    color: white;
}

.form-section input {
    height: 57px;
    width: 400px;
    font-size: 16px;
}