/* font family added */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

.nav-section-title {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 60px;
}

.nav-section-title h2 {
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}

.btn-primary {
    padding: 17px 24px;
    border: 2px solid gold;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #FD6E0A;

}

/* banner-container start here */
.banner-container {
    width: 100%;
    height: 650px;
    margin: 0 auto;
    background-image: url("../assets/Hero-bg.png");
    margin-bottom: 70px;

}

.banner-content {
    width: 1000px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 45px;

}

.banner-content h2 {
    font-size: 48px;
    font-weight: 800;
    margin-top: 25px;
}

.banner-content p {
    font-size: 16px;
    color: #0D1321;
    margin: 30px 0 30px 0;
}

/* web development section start here */
.Web-Development-container {
    width: 85%;
    height: 1400px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-bottom: 100px;
}

.development-section {
    width: 90%;
    height: 1220px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 10px;
}

.development-title {
    height: 130px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.development-title h1 {
    font-size: 32px;
    font-weight: 800;
}

.development-title p {
    font-size: 16px;
    margin-top: 15px;
}

.card-section {
    height: 300px;
    width: 85%;
    border: 1px solid rgb(26, 25, 25);
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

}

.content-text {
    width: 55%;
    padding: 25px 25px;
}

.content-text h2 {
    font-size: 24px;
    font-weight: 800;

}

.content-text p {
    font-size: 16px;
    color: #0D1321;
    margin: 35px 0px;
    font-weight: bold;
}

.img {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    width: 30%;
}
/* My Inspiration section start here */.
.Inspiration-section-container{
    
}